/*
 * Ashen scheme
 * by 
 *
 * GTK 3.0 template 
 * by Jonn Mostovoy - https://github.com/manpages
 *
 * Generated
 * by base16-builder - https://github.com/base16-builder/base16-builder
 */

@define-color theme_base_color #121212;
@define-color theme_fg_color #949494;
@define-color theme_active_color #212121;
@define-color theme_insensitive_color #949494;
@define-color theme_insensitive_bg #121212;

@define-color theme_cursor_color #D87C4A;

/* fallback mode */
@define-color os_chrome_bg_color #121212;
@define-color os_chrome_fg_color #949494;
@define-color os_chrome_selected_bg_color #b4b4b4;
@define-color os_chrome_selected_fg_color #212121;

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #D87C4A;
    -GtkIMHtml-hyperlink-visited-color: #B14242;
    -GtkIMHtml-hyperlink-prelight-color: #d5d5d5;

    /* Evolution */
    -GtkHTML-link-color: #D87C4A;
    -GtkHTML-vlink-color: #B14242;
    -GtkHTML-cite-color: #DF6464;

    -GtkWidget-link-color: #D87C4A;
    -GtkWidget-visited-link-color: #B14242;
}

@import url("resource:///org/gnome/HighContrastInverse/a11y.css");

