* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  outline: none;
}

window {
  background-color: #121212;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

#outer-box {
  margin: 5px;
}

#input {
  margin: 5px 5px 5px 5px;
  border: none;
  background-color: #121212;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

#input image {
  color: transparent;
  background-image: none;
  display: none;
}

#inner-box {
  background-color: #121212;
}

#scroll {
  margin-top: 2px;
}

#entry {
  padding: 1px;
  background-color: #121212;
}

#entry:selected {
  background-color: #121212;
}

#text {
  color: #f5f5f5;
  margin-left: 10px;
}

#text:selected {
  color: #d87c4a;
}
