* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  outline: none;
}

window {
  background-color: #121212;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

#outer-box {
  margin: 5px;
}

#input {
  margin: 5px 5px 20px 5px;
  border: none;
  background-color: #121212;
  color: #f5f5f5;
}

#inner-box {
  background-color: #121212;
}

/* List view spacing */
#scroll {
  margin-top: 2px;
}

#entry {
  padding: 1px;
  background-color: #121212;
}

#entry:selected {
  /* Rofi config didn't specify a selection color, 
       but usually, we want a slight highlight */
  background-color: #121212;
}

#text {
  color: #f5f5f5;
  margin-left: 10px;
}

/* Matching your element-text highlight color (@green) */
#text:selected {
  color: #d87c4a;
}
