[gpg]
    program = gpg
[commit]
    gpgsign = true
[user]
    name = Daniel Stamer
    email = dan@hello-world.sh
[color]
    branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto
    ui = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[push]
    default = current
[diff]
    tool = vimdiff
[credential "https://source.developers.google.com"]
    helper = gcloud.sh
[credential "https://git-codecommit.eu-central-1.amazonaws.com"]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[core]
    autocrlf = input
    pager = less -FRSX
    editor = vim
[alias]
    cm = commit -asS
    co = checkout
    df = difftool --stat
    st = status -sb
    tg = tag -s
    sh = show --show-signature
    ps = push --all
    pl = pull --all
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
