Xft.dpi: 100
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Uft.font: -*-montecarlo-medium-r-normal-*-12-*-*-*-*-*-*-*

URxvt.font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
URxvt.scrollBar: false


! special
*.foreground:   #e1dfe1
*.background:   #020202
*.cursorColor:  #e1dfe1

! black
*.color0:       #040404
*.color8:       #f08480

! red
*.color1:       #141214
*.color9:       #2aa9aa

! green
*.color2:       #272427
*.color10:      #23d9db

! yellow
*.color3:       #413c40
*.color11:      #3cb95f

! blue
*.color4:       #615b60
*.color12:      #88a5e7

! magenta
*.color5:       #898187
*.color13:      #f365e4

! cyan
*.color6:       #b4aeb3
*.color14:      #37c9cb

! white
*.color7:       #e4e2e3
*.color15:      #f4beed

