
* {
  bg:           #FDF0ED;
  fg:           #1a1c23;
  grey:         #1A1C23;
  black:        #FDF0ED;
  red:          #EC6A88;
  green:        #3FDAA4;
  yellow:       #FBC3A7;
  blue:         #3FC6DE;
  magenta:      #F075B7;
  cyan:         #6BE6E6;
  white:        #e5e5e5;

  backdrop:     #6C6F93;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

