
*.cursorColor: #3c3836
*.background:  #fbf1c7
*.foreground:  #3c3836

*.color0:  #ebdbb2
*.color8:  #d5c4a1

*.color1:  #cc241d
*.color9:  #9d0006

*.color2:  #98971a
*.color10: #79740e

*.color3:  #d79921
*.color11: #b57614

*.color4:  #458588
*.color12: #076678

*.color5:  #b16286
*.color13: #8f3f71

*.color6:  #689d6a
*.color14: #427b58

*.color7:  #7c6f64
*.color15: #282828

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: default

*.font: xft:JetBrainsMono Nerd Font Mono:size=10:weight=medium
*.perl-ext-common: default,matcher
*.scrollBar: false
*.clipboard.autocopy: true
*.selectToClipboard: true
*.url-launcher: /usr/bin/xdg-open
*.matcher.button: 1
*.print-pipe: "cat > /dev/null"
*.VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
