
* {
  bg:           #fbf1c7;
  fg:           #3c3836;
  grey:         #d5c4a1;
  black:        #ebdbb2;
  red:          #cc241d;
  green:        #98971a;
  yellow:       #d79921;
  blue:         #458588;
  magenta:      #b16286;
  cyan:         #689d6a;
  white:        #7c6f64;
  backdrop:     #fbf1c7;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

