* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  outline: none;
}

window {
  background-color: #fbf1c7;
  color: #3c3836;
  border: 1px solid #3c3836;
}

#outer-box {
  margin: 5px;
}

#input {
  margin: 5px 5px 5px 5px;
  border: none;
  background-color: #fbf1c7;
  color: #3c3836;
  border: 1px solid #3c3836;
}

#input image {
  color: transparent;
  background-image: none;
  display: none;
}

#inner-box {
  background-color: #fbf1c7;
}

#scroll {
  margin-top: 2px;
}

#entry {
  padding: 1px;
  background-color: #fbf1c7;
}

#entry:selected {
  background-color: #fbf1c7;
}

#text {
  color: #3c3836;
  margin-left: 10px;
}

#text:selected {
  color: #98971a;
}
