! special
*.cursorColor:             #ebdbb2
*.background:              #282828
*.foreground:              #ebdbb2

! black
*.color0:                  #282828
*.color8:                  #928374
! red
*.color1:                  #cc241d
*.color9:                  #fb4934
! green
*.color2:                  #98971a
*.color10:                 #b8bb26
! yellow
*.color3:                  #d79921
*.color11:                 #fabd2f
! blue
*.color4:                  #458588
*.color12:                 #83a598
! magenta
*.color5:                  #b16286
*.color13:                 #d3869b
! cyan
*.color6:                  #689d6a
*.color14:                 #8ec07c
! white
*.color7:                  #a89984
*.color15:                 #ebdbb2

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: default

*.cursorBlink: true
*.perl-ext-common: default,matcher
*.scrollBar: false
*.highlightSelection: true

*.font: xft:JetBrainsMono Nerd Font:size=16
*.clipboard.autocopy: true
*.selectToClipboard: true
*.url-launcher: /usr/bin/xdg-open
*.matcher.button: 1
*.print-pipe: "cat > /dev/null"
*.VT100.geometry: 140x40
*.VT100.saveLines: 4096
*.VT100.bellIsUrgent: true
*.VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
