
* {
  bg:           #1c1e26;
  fg:           #d5d8da;
  grey:         #848484;
  black:        #1c1e26;
  red:          #e95678;
  green:        #29d398;
  yellow:       #fab795;
  blue:         #26bbd9;
  magenta:      #ee64ae;
  cyan:         #59e3e3;
  white:        #e5e5e5;

  backdrop:     #6C6F93;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

