
* {
  bg:	    	#1F2328;
  fg:	     	#FFFFFF;
  grey:     #DBDBDB;
  black:		#24292f;

  red:	    #DB8DB3;
  green:		#ACE5B3;
  yellow:		#F4A792;
  blue:		  #85DDD9;
  magenta:  #9E96ED;
  cyan:	    #48C1B8;

  white:		#FFF5EF;

  backdrop: #FFFFFF;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

