! special
*.foreground:   #FFFFFF
*.background:   #292a2d
! alternate     #1F2328;
*.cursorColor:  #FFFFFF

! black
*.color0:       #24292f
*.color8:       #777777

! red
*.color1:       #EFAFD1
*.color9:       #DB8DB3

! green
*.color2:       #D2F9D6
*.color10:      #ACE5B3

! yellow
*.color3:       #F4BCAE
*.color11:      #F4A792

! blue
*.color4:       #AFEFEA
*.color12:      #85DDD9

! magenta
*.color5:       #C6C5FC
*.color13:      #9E96ED

! cyan
*.color6:       #75E0D5
*.color14:      #48C1B8

! white
*.color7:       #FFF5EF
*.color15:      #FFFFFF

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: default

*.cursorBlink: true
*.perl-ext-common: default,matcher
*.scrollBar: false
*.highlightSelection: true

*.font: xft:JetBrainsMono Nerd Font:size=11
*.clipboard.autocopy: true
*.selectToClipboard: true
*.url-launcher: /usr/bin/xdg-open
*.matcher.button: 1
*.print-pipe: "cat > /dev/null"
*.VT100.saveLines: 4096
*.VT100.bellIsUrgent: true
*.VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
