
* {
  bg:           #e1e2e7;
  fg:           #3760bf;



  grey:         #a1a6c5;

  black: #e9e9ed;
  red: #f52a65;
  green: #587539;
  yellow: #8c6c3e;
  blue: #2e7de9;
  magenta: #9854f1;
  cyan: #007197;
  white: #6172b0;

  backdrop:     #6172b0;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

