
* {
  bg:	     	#FFFFFF;
  fg:	    	#1F2328;
  grey:     #DBDBDB;
  black:		#24292f;

  red:	    #D9006A;
  green:		#744527;
  yellow:		#FF6400;
  blue:		  #00AF8D;
  magenta:  #A8195F;
  cyan:	    #93EE00;
  white:		#FFF5EF;

  backdrop: #FFFFFF;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

