
* {
  bg:           #282828;
  fg:           #ebdbb2;
  grey:         #928374;
  black:        #282828;
  red:          #cc241d;
  green:        #98971a;
  yellow:       #d79921;
  blue:         #458588;
  magenta:      #b16286;
  cyan:         #689d6a;
  white:        #a89984;


  backdrop:     #282828;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

