
* {
  bg:           #3c3836;
  fg:           #d5c4a1;
  grey:         #748c6c;
  black:        #46522a;
  red:          #e05190;
  green:        #b9c543;
  yellow:       #e09e43;
  blue:         #a551cb;
  magenta:      #cc51a3;
  cyan:         #7cc1a3;
  white:        #8d7c59;


  backdrop:     #282828;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

