*background: #222436
*foreground: #c8d3f5
*.cursorColor: #c8d3f5

*color0: #1b1d2b
*color1: #ff757f
*color2: #c3e88d
*color3: #ffc777
*color4: #82aaff
*color5: #c099ff
*color6: #86e1fc
*color7: #828bb8

*color8: #444a73
*color9: #ff757f
*color10: #c3e88d
*color11: #ffc777
*color12: #82aaff
*color13: #c099ff
*color14: #86e1fc
*color15: #c8d3f5
 
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: default

*.cursorBlink: true
*.perl-ext-common: default,matcher
*.scrollBar: false
*.highlightSelection: true

*.font: xft:JetBrainsMono Nerd Font:size=13
*.clipboard.autocopy: true
*.selectToClipboard: true
*.url-launcher: /usr/bin/xdg-open
*.matcher.button: 1
*.print-pipe: "cat > /dev/null"
*.VT100.geometry: 140x40
*.VT100.saveLines: 4096
*.VT100.bellIsUrgent: true
*.VT100.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
