
* {
  bg:	     	#222436;
  fg:	    	#c8d3f5;
  grey:     #444a73;
  black:		#1b1d2b;
  red:	    #ff757f;
  green:		#c3e88d;
  yellow:		#ffc777;
  blue:		  #82aaff;
  magenta:  #c099ff;
  cyan:	    #86e1fc;
  white:		#828bb8;

  backdrop: #222436;

  spacing: 0;
  background-color: @bg;
  text-color: @fg;
}

